:root {
  --thumbnail-height: 110px;
  --thumbnail-width: 185px;
}
.storyboard{
  display: flex;
  flex-direction: row;
  gap: 10px;
  min-height: var(--thumbnail-height);
  background-color: #343434;
}

.storyboard .thumbnail-warpper{
  width: var(--thumbnail-width);
  height: var(--thumbnail-height);
  border-radius: 5%;
}

.thumbnail-warpper[select="true"]{
  border: 3px #fff solid;
}

.options{
  margin-right: 60px;
  display: flex;
  justify-content: flex-end;
}

.options .divider{
  border-left: 1px #a6a6a6 solid;
  margin: 0px 3px;
  padding: 0px 3px;

}

.options .video-option{
  border: #ffffff;
}

.options .video-option:hover{
  background-color: #565656 !important;
}