:root {
  --thumbnail-height: 110px;
  --thumbnail-width: 185px;
}
.storyboard{
  display: flex;
  flex-direction: row;
  gap: 10px;
  min-height: var(--thumbnail-height);
}

.storyboard .thumbnail-warpper{
  width: var(--thumbnail-width);
  height: var(--thumbnail-height);
  border-radius: 5%;
}
